/* Write your code here. */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png');
  background-size: Cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 50px;
}
.card-container {
  background-color: #cffafe;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 700px;
  width: 600px;
}
.heading2 {
  font-size: 30px;
}
.description {
  font-size: 25px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .heading {
    font-size: 30px;
  }
  .card-container {
    background-color: #cffafe;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 300px;
    width: 200px;
  }
  .images {
    width: 80px;
  }
  .heading2 {
    font-size: 20px;
  }
  .description {
    font-size: 15px;
    text-align: center;
  }
}
